<!--==========| ==> Load Static Here <== |==========-->
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
</head>
<body>
    <div class="container__wrap">
        <div class="container">
            <h1>Blog Posts</h1>
            <ul class="post-list">
                {% for post in posts %}
                    <li class="post-item">
                        <a href="{% url 'post_detail' pk=post.pk %}" class="post-link">{{ post.title }}</a>
                    </li>
                {% endfor %}
            </ul>
            <a href="{% url 'post_new' %}" class="new-post-btn">New Post</a>
        </div>
    </div>

    <script src="{% static 'assets/js/scripts.js' %}"></script>
</body>
</html>